.body {
    display        : flex;
    justify-content: space-between;
}

.block {
    width         : 28%;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    transition    : .5s all linear;
}

.block:hover {
    color    : darkblue;
    transform: scale(1.1);
}

.block_img {
    color: #0969EB;
    transition: 0.3s all linear;
}

.pin{
    color: gold;
}

.block:hover #tel {
    transform: rotate(45deg);
}

.block:hover #pin,
.block:hover #mail {
    transform: scale(1.2);
}

.block_title {
    cursor     : default;
    margin-top : 10px;
    font-size  : 24px;
    font-family: var(--main-family);
    font-weight: bolder;
    color      : #0969EB;
}

.block_text {
    cursor        : default;
    font-size     : 14px;
    text-align    : center;
    font-family   : var(--main-family);
    line-height   : 26px;
    letter-spacing: 0.7px;
}

@media (min-width:0) and (max-width:449.9px) {
    .body {
        flex-wrap      : wrap;
        justify-content: center;
    }

    .block {
        width: 100%;
    }

    .block_title {
        text-align: center;
        font-size : 20px;
    }

    .block_text {
        font-size: 12px;
    }
}

@media (min-width:450px) and (max-width:749.9px) {

    .body {
        justify-content: center;
        flex-wrap      : wrap;
    }

    .block {
        width: 48%;
    }
}

@media (min-width:750px) and (max-width:1249.9px) {

    .block {
        width         : 32%;
     }

    .block_title {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .block_text {
        width: 100%;
        text-align: center;
    }
}